@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', 'Arial', 'sans-serif';
}

@theme{
  --color-primary: 207.3 70.4% 53.3%;
  --color-secondary: 210 20% 94%;
  --color-border: #c5eaed;
}
@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 224 71.4% 4.1%;
    --card: 210 40% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 210 40% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 207.3 70.4% 53.3%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 20% 94%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 210 20% 94%;
    --muted-foreground: 224 71.4% 4.1%;
    --accent: 210 20% 94%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 1.7 72.2% 52.5%;
    --destructive-foreground: 210 20% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 207.3 70.4% 53.3%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 207.3 70.4% 53.3%;
    --primary-foreground: 210 20% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 1.7 72.2% 52.5%;
    --destructive-foreground: 210 20% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 207.3 70.4% 53.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
